{% extends 'base.html' %}


{% block page_title %}

Login

{% endblock %}


{% block content %}

<div class="p-5 text-center">
    <h2 class="mb-5">Please login to see the blog contents.</h2>
    <div class="container">
        <form method="POST" class="d-inline-flex flex-column border border-secondary rounded p-5 align-items-start">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label(class="form-label") }} {{ form.username(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.email.label(class="form-label") }} {{ form.email(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }} {{ form.password(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}